@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background1: #ffffff;
  --background2: #EFEFEF;
  --background3: #333333;
  --background4: #212121;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background1: #212121;
    --background2: #333333;
    --background3: #EFEFEF;
    --background4: #ffffff;
  }
}

body {
  color: var(--background1);
  background: var(--background3);
  font-family: var(--font-roboto), sans-serif; /* Aqui está a correção */
}
